@model Horario;
@{
    ViewData["Title"] = "Agregar Horario";
}
<!--<div class="card">
    <div class="card-header">
        <h1>Agregar Carrera</h1>
    </div>
    <div class="card-header">
        <form asp-action="Guardar" asp-controller="Horario" method="post">
            <div class="form-group mb-2">
                <label for="Hora">Hora: </label>
                <select asp-for="IdHora1" name="Hora" class="form-control">
                </select>
            </div>
            <div class="form-group mb-2">
                <label for="Minutos">Minutos: </label>
                <select asp-for="IdMinutos1" name="Minutos" class="form-control">
                </select>
            </div>
            <div class="form-group mb-2">
                <label for="Dia">Dia: </label>
                <select asp-for="IdDia1" name="Dia" class="form-control">
                </select>
            </div>
            <div class="form-group mb-2">
                <label for="Materia">Materia: </label>
                <select asp-for="IdMateria1" name="Materia" class="form-control">
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>
-->
